@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin extraSmall {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 530px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
